@font-face {
    font-family: 'Gilroy';
    src: url('fonts/Gilroy-Regular.woff2');
    font-weight: normal;

}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto-v29-latin_cyrillic-regular.woff2');
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gilroy';
}

.container {
    width: 1440px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 116px;
    max-width: 1440px;
    margin: 0 auto;
}

.header__lists {
    display: flex;
    justify-content: center;
    gap: 31px;
    list-style: none;

}

.header__link {
    position: relative;
    font-size: 18px;
    line-height: 22px;
    color: #000;
    text-decoration: none;

}

.header__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background-color: #000;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.2s linear;
}

.header__link:hover::after {
    transform: scaleX(1);
}

.header__btn {
    text-transform: uppercase;
    cursor: pointer;
    color: #F7941E;
    border: 1px solid #F7941E;
    background-color: inherit;
    padding: 13px 22px;
    border-radius: 5px;
}

.gift {
    background-color: #F1F1F2;
}

.gift__item {
    display: grid;
    grid-template-columns: 50% 50%;
}

.gift__content {
    padding: 150px 126px 126px 162px;
}

.gift__title {
    font-size: 56px;
    line-height: 69px;
    color: #000;
    margin-bottom: 40px;
}

.gift__subtitle {
    font-size: 20px;
    line-height: 140.62%;
    color: #000;
    margin-bottom: 52px;
}

.gift__btn {
    padding: 24px;
    background-color: #F7941E;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 22px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.gift__pic {
    max-height: 700px;
}

.gift__img {
    display: block;
    width: 100%;
    height: 100%;
}

.thanks-title {
    font-size: 32px;
    line-height: 140.62%;
}

.bgc-white {
    background-color: inherit;
    border: 1px solid #F7941E;
    color: #F7941E;
}

.cards {
    padding: 90px 135px 135px;
    text-align: center;
}

.cards__title,
.blogs__title{
    font-size: 32px;
    line-height: 38px;
    color: #000;
    margin-bottom: 31px;
}

.cards__desc,
.blogs__subtitle {
    font-size: 18px;
    line-height: 135.94%;
    color: #000;
    margin-bottom: 64px;
}

.cards__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.cards__item {
    flex-basis: 25%;
    background-color: #F1F1F2;
    filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.05));
    transition: background-color .2s linear;
}

.cards__item:hover {
    background-color: #fff;
}

.cards__img {
    display: block;
    width: 100%;
}

.cards__content {
    text-align: left;
    padding: 24px;

}

.cards__theme {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 74px;
}

.cards__link {
    position: relative;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #000;
    text-decoration: none;
}

.cards__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background-color: #000;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.2s linear;
}

.cards__link:hover::after {
    transform: scaleX(1);
}

.start {
    background-color: #F7941E;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 96px 235px;
}

.start__title {
    font-size: 32px;
    line-height: 140.62%;
    color: #000;
}

.start_desc {
    font-size: 32px;
    line-height: 140.62%;
    color: #000;
}

.start__btn {
    padding: 18px 25px;
    border: 1px solid #000;
    background-color: inherit;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #000;
    border-radius: 5px;
    transition: all .2s ease-in-out;

}
.start__btn:hover{
    background-color: #000;
    color: #fff;
}

.blogs{
    padding: 90px 135px 135px;
    text-align: center;
}

.blogs__author-wrapper{
    display: flex;
    justify-content: center;

}
/* 
.blogs__author-pic{
    max-width: 30%;
} */

.blogs__author-img{
    display: block;
    width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.blogs__author-content{
    text-align: left;
    padding: 63px 200px 49px 73px;
    background-color: #000;
    color: #fff;
}

.blogs__author-name{
    font-size: 12px;
    margin-bottom: 15px;
}

.blogs__author-message{
    font-size: 48px;
    font-weight: 300;
    margin-bottom: 80px;    
}

.blogs__author-read-more{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}